@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");

@import "tailwindcss";

@theme {
  /* FONT */
  --font-sans: "Funnel Sans", sans-serif;
  --font-heading: "Funnel Display", sans-serif;

  /* COLOR */
  /* green */
  --color-primary-50: oklch(95.05% 0.0066 180.07);
  --color-primary-100: oklch(90.64% 0.0258 180.43);
  --color-primary-200: oklch(85.25% 0.0451 180.31);
  --color-primary-300: oklch(75.25% 0.0651 180.31);
  --color-primary-400: oklch(65.25% 0.0751 180.31);
  --color-primary-500: oklch(55.41% 0.0808 180.35);
  --color-primary-600: oklch(47.06% 0.0707 180.17);
  --color-primary-700: oklch(39.99% 0.0567 180.26);
  --color-primary-800: oklch(34.7% 0.0452 180.73);
  --color-primary-900: oklch(29.7% 0.0352 180.73);

  /* white */
  --color-white: oklch(98.48% 0 0);

  /* ui */
  --color-primary: var(--color-primary-600);
  --color-primary-foreground: var(--color-white);

  /* Tambahan untuk class outline */
  --color-input: var(
    --color-primary-800
  ); /* Border ringan untuk input atau outline */
  --color-background: var(--color-white); /* Background dasar putih */
  --color-accent: var(
    --color-primary-100
  ); /* Hover background, hijau sangat muda */
  --color-accent-foreground: var(
    --color-primary-700
  ); /* Teks saat hover, hijau gelap */

  /* Tambahan untuk class destructive */
  --color-destructive-50: oklch(95% 0.02 20); /* Merah sangat muda */
  --color-destructive-100: oklch(90% 0.05 20);
  --color-destructive-200: oklch(85% 0.08 20);
  --color-destructive-300: oklch(75% 0.12 20);
  --color-destructive-400: oklch(65% 0.15 20);
  --color-destructive-500: oklch(55% 0.18 20); /* Merah sedang */
  --color-destructive-600: oklch(45% 0.18 20);
  --color-destructive-700: oklch(35% 0.15 20);
  --color-destructive-800: oklch(25% 0.12 20);
  --color-destructive-900: oklch(20% 0.1 20); /* Merah sangat gelap */

  /* UI destructive */
  --color-destructive: var(
    --color-destructive-500
  ); /* Warna utama destructive */
  --color-destructive-foreground: var(--color-white); /* Teks kontras putih */
}
